
.camera {

}

.stageContainer {
  position: relative;
  background-color: black;
}

.stage {

  margin: auto;

  video,
  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

.controls {

  margin-top: 1em;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {

    margin: 0 .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}